*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background: #000;
}

.card{
    max-width: 470px;
    background: linear-gradient(135deg, #36cef8, #514a85);
    color: #fff;
    margin:250px auto 0 ;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

button{
    background: #ebfffc;
    color: #555;
    border: 0;
    outline: 0;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    height: 60px;
    width: 60px;
}

.search button img{
    width: 20px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: 10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 18px;
    margin-top: 15px;
    display: none;
    color: rgb(208, 15, 15);
}

@media screen and (max-width: 500px){
    .card{
        max-width: 300px;
        padding: 20px 30px;
        text-align: center;
    }
    
    .search{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .search input{
        border: 0;
        outline: 0;
        background: #ebfffc;
        color: #555;
        padding: 5px -1px;
        height: 40px;
        border-radius: 30px;
        flex: 1;
        margin-right: 5px;
        font-size: 15px;
    }

    ::placeholder{
        color: #615f5f;
        font-size: 15px;
    }
    
    button{
        padding: 10px;
        height: 40px;
        width: 40px;
    }
    
    .search button img{
        width: 15px;
    }
    
    .weather-icon{
        width: 100px;
        margin-top: 5px;
    }
    
    .weather h1{
        font-size: 40px;
        font-weight: 400;
    }
    
    .weather h2{
        font-size: 30px;
        font-weight: 300;
        margin-top: 5px;
    }
    
    .details{
        padding: 30px 0px 10px 0px;
        margin-top: 25px;
        justify-content: space-around;
    }
    
    .col img{
        width: 25px;
        margin-right: 10px;
    }
    
    .humidity, .wind{
        font-size: 13px;
        margin-top: -3px;
    }

    .hum , .win{
        font-size: 12px;
    }
    
    .weather{
        display: none;
    }
    
    .error{
        text-align: left;
        margin-left: -15px;
        font-size: 14px;
        margin-top: 15px;
        display: none;
        color: rgb(208, 15, 15);
    }
    
}
